* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.back:hover .hidden {
  display: block;
}

/* @media screen and (max-width: 768px) {
  h3 {
    font-size: 24px;
    color: blue;
  }
  header {
    background-color: green;
  }
  p {
    font-size: 16px;
  }
} */
